################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OwBaseCore/bin/Debug/net6.0/OwBaseCore.dll
/OwBaseCore/bin/Debug/net6.0/OwBaseCore.pdb
/OwBaseCore/obj/Debug/net6.0/ref/OwBaseCore.dll
/OwBaseCore/obj/Debug/net6.0/refint/OwBaseCore.dll
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.dll
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.pdb
/OwBaseCore/bin/Release/net6.0/OwBaseCore.dll
/OwBaseCore/bin/Release/net6.0/OwBaseCore.pdb
/OwBaseCore/obj/Release/net6.0/OwBaseCore.dll
/OwBaseCore/obj/Release/net6.0/OwBaseCore.pdb
/OwDbBase/bin/Debug/net6.0/OwBaseCore.dll
/OwDbBase/bin/Debug/net6.0/OwBaseCore.pdb
/OwDbBase/bin/Debug/net6.0/OwDbBase.dll
/OwDbBase/bin/Debug/net6.0/OwDbBase.pdb
/OwDbBase/bin/Release/net6.0/OwBaseCore.dll
/OwDbBase/bin/Release/net6.0/OwBaseCore.pdb
/OwDbBase/bin/Release/net6.0/OwDbBase.dll
/OwDbBase/bin/Release/net6.0/OwDbBase.pdb
/OwDbBase/obj/Debug/net6.0/OwDbBase.dll
/OwDbBase/obj/Debug/net6.0/OwDbBase.pdb
/OwDbBase/obj/Release/net6.0/OwDbBase.dll
/OwDbBase/obj/Release/net6.0/OwDbBase.pdb
