################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OwBaseCore/bin/Debug/net6.0/OwBaseCore.dll
/OwBaseCore/bin/Debug/net6.0/OwBaseCore.pdb
/OwBaseCore/obj/Debug/net6.0/ref/OwBaseCore.dll
/OwBaseCore/obj/Debug/net6.0/refint/OwBaseCore.dll
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.dll
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.pdb
/OwBaseCore/bin/Release/net6.0/OwBaseCore.dll
/OwBaseCore/bin/Release/net6.0/OwBaseCore.pdb
/OwBaseCore/obj/Release/net6.0/OwBaseCore.dll
/OwBaseCore/obj/Release/net6.0/OwBaseCore.pdb
/OwDbBase/bin/Debug/net6.0/OwBaseCore.dll
/OwDbBase/bin/Debug/net6.0/OwBaseCore.pdb
/OwDbBase/bin/Debug/net6.0/OwDbBase.dll
/OwDbBase/bin/Debug/net6.0/OwDbBase.pdb
/OwDbBase/bin/Release/net6.0/OwBaseCore.dll
/OwDbBase/bin/Release/net6.0/OwBaseCore.pdb
/OwDbBase/bin/Release/net6.0/OwDbBase.dll
/OwDbBase/bin/Release/net6.0/OwDbBase.pdb
/OwDbBase/obj/Debug/net6.0/OwDbBase.dll
/OwDbBase/obj/Debug/net6.0/OwDbBase.pdb
/OwDbBase/obj/Release/net6.0/OwDbBase.dll
/OwDbBase/obj/Release/net6.0/OwDbBase.pdb
/OwBaseCore/obj/OwBaseCore.csproj.nuget.dgspec.json
/OwDbBase/obj/Debug/net6.0/ref/OwDbBase.dll
/OwDbBase/obj/Debug/net6.0/refint/OwDbBase.dll
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.AssemblyInfo.cs
/.vs/Bak/v17/.wsuo
/.vs/VSWorkspaceState.json
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.AssemblyInfoInputs.cache
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.assets.cache
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.csproj.AssemblyReference.cache
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.csproj.CoreCompileInputs.cache
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.csproj.FileListAbsolute.txt
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.GeneratedMSBuildEditorConfig.editorconfig
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.sourcelink.json
/OwBaseCore/obj/OwBaseCore.csproj.nuget.g.props
/OwBaseCore/obj/project.assets.json
/OwBaseCore/obj/project.nuget.cache
/OwDbBase/obj/Debug/net6.0/OwDbBase.AssemblyInfo.cs
/OwDbBase/obj/Debug/net6.0/OwDbBase.AssemblyInfoInputs.cache
/OwDbBase/obj/Debug/net6.0/OwDbBase.assets.cache
/OwDbBase/obj/Debug/net6.0/OwDbBase.csproj.AssemblyReference.cache
/OwDbBase/obj/Debug/net6.0/OwDbBase.csproj.CoreCompileInputs.cache
/OwDbBase/obj/Debug/net6.0/OwDbBase.csproj.FileListAbsolute.txt
/OwDbBase/obj/Debug/net6.0/OwDbBase.GeneratedMSBuildEditorConfig.editorconfig
/OwDbBase/obj/Debug/net6.0/OwDbBase.sourcelink.json
/OwDbBase/obj/OwDbBase.csproj.nuget.dgspec.json
/OwDbBase/obj/OwDbBase.csproj.nuget.g.props
/OwDbBase/obj/project.assets.json
/OwDbBase/obj/project.nuget.cache
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.assets.cache
/OwBaseCore/obj/Debug/net6.0/OwBaseCore.GeneratedMSBuildEditorConfig.editorconfig
/OwDbBase/obj/Debug/net6.0/ref/OwDbBase.dll
/OwDbBase/obj/Debug/net6.0/refint/OwDbBase.dll
/OwDbBase/obj/Debug/net6.0/OwDbBase.assets.cache
/OwDbBase/obj/Debug/net6.0/OwDbBase.GeneratedMSBuildEditorConfig.editorconfig
/OwDbBase/obj/Debug/net6.0/OwDbBase.sourcelink.json
/OwBaseCore/obj/Release/net6.0/ref/OwBaseCore.dll
/OwBaseCore/obj/Release/net6.0/refint/OwBaseCore.dll
/OwBaseCore/obj/Release/net6.0/OwBaseCore.AssemblyInfoInputs.cache
/OwBaseCore/obj/Release/net6.0/OwBaseCore.sourcelink.json
/OwDbBase/obj/Release/net6.0/OwDbBase.sourcelink.json
/OwDbBase/obj/Release/net6.0/OwDbBase.csproj.AssemblyReference.cache
/OwDbBase/obj/Release/net6.0/OwDbBase.AssemblyInfoInputs.cache
/OwDbBase/obj/Release/net6.0/ref/OwDbBase.dll
/OwDbBase/obj/Release/net6.0/refint/OwDbBase.dll
/OwBaseCore/obj/Release/net6.0/OwBaseCore.assets.cache
/OwBaseCore/obj/Release/net6.0/OwBaseCore.GeneratedMSBuildEditorConfig.editorconfig
/OwDbBase/obj/Release/net6.0/OwDbBase.assets.cache
/OwDbBase/obj/Release/net6.0/OwDbBase.GeneratedMSBuildEditorConfig.editorconfig
/OwBaseCore/obj/Release/net6.0/OwBaseCore.csproj.AssemblyReference.cache
/OwDbBase/obj/Release/net6.0/OwDbBase.csproj.CoreCompileInputs.cache
/OwBaseCore/bin/Release/net6.0/OwBaseCoreApiDoc.xml
/OwBaseCore/obj/Release/net6.0/OwBaseCore.AssemblyInfo.cs
/OwDbBase/obj/Release/net6.0/OwDbBase.AssemblyInfo.cs
/OwBaseCore/obj/Release/net6.0/OwBaseCore.csproj.CoreCompileInputs.cache
/OwBaseCore/bin/Debug/net6.0/OwBaseCoreApiDoc.xml
/OwBaseCore/OwBaseCoreApiDoc.xml
/OwDbBase/bin/Debug/net6.0/OwBaseCoreApiDoc.xml
/OwDbBase/obj/Debug/net6.0/OwDbBase.csproj.Up2Date
/OwDbBase/bin/Release/net6.0/OwBaseCoreApiDoc.xml
