<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <!-- 移除WebDAV模块 -->
      <remove name="WebDAVModule" />
      <!-- 如果需要禁用其他模块，可以添加更多的remove元素 -->
      <!-- 例如: <remove name="模块名称" /> -->
    </modules>
    <!-- 禁用WebDAV处理程序 -->
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <!-- 其他IIS配置 -->
    <aspNetCore stdoutLogEnabled="false" hostingModel="InProcess" />
  </system.webServer>
</configuration>